SemanticWebImport/WEB-INF/wsdl/client/SPARQL/sparql-protocol-query-11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     targetNamespace="http://www.w3.org/2005/08/sparql-protocol-query/#"
     xmlns:tns="http://www.w3.org/2005/08/sparql-protocol-query/#"

     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"

     xmlns:st="http://www.w3.org/2005/09/sparql-protocol-types/#"

     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"

     xmlns:xs="http://www.w3.org/2001/XMLSchema"

     schemaLocation="http://www.w3.org/2004/08/wsdl" 
     >

  <wsdl:types>
    <xs:schema targetNamespace="http://www.w3.org/2005/08/sparql-protocol-query/#">
      <xs:import namespace="http://www.w3.org/2005/09/sparql-protocol-types/#"
                 schemaLocation="sparql-protocol-types.xsd" />
	</xs:schema>
  </wsdl:types>

  <wsdl:message name="queryRequest">
    <wsdl:part name="query" element="st:query-request"/>
  </wsdl:message>

  <wsdl:message name="queryResponse">
    <wsdl:part name="response" element="st:query-result"/>
  </wsdl:message>

  <wsdl:message name="malformedQueryFault">
      <wsdl:part name="malformedQueryFaultPart" element="st:malformed-query"/>
  </wsdl:message>

  <wsdl:message name="queryRequestRefusedFault">
      <wsdl:part name="queryRequestRefusedFaultPart" element="st:query-request-refused"/>
  </wsdl:message>

  <wsdl:portType name="SparqlQueryInterface">
    <wsdl:operation name="query">
      <wsdl:input  message="tns:queryRequest"/>
      <wsdl:output message="tns:queryResponse"/>
      <wsdl:fault  message="tns:malformedQueryFault"  name="malformedQueryFault" />
      <wsdl:fault  message="tns:queryRequestRefusedFault" name="queryRequestRefusedFault" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="QuerySoapBinding" type="tns:SparqlQueryInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="query">
    <soap:operation style="document" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="malformedQueryFault">
        <soap:fault use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="queryRequestRefusedFault">
        <soap:fault use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
